<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanmay.shoppingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tanmay.AppTheme">
        <activity
            android:name=".Activities.CatalogActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Tanmay.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProductActivity"
            android:label="@string/title_activity_product_page"
            android:parentActivityName=".Activities.CatalogActivity"
            android:theme="@style/Theme.Tanmay.AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanmay.shoppingapp.Activities.CatalogActivity" />
        </activity>
        <activity
            android:name=".Activities.CartActivity"
            android:label="@string/title_activity_your_cart"
            android:parentActivityName=".Activities.CatalogActivity"
            android:theme="@style/Theme.Tanmay.AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanmay.shoppingapp.Activities.CatalogActivity" />
        </activity>

        <provider
            android:name=".Data.Cart.CartProvider"
            android:authorities="com.example.tanmay.shoppingapp.Data.Cart.CartProvider"
            android:exported="false" />
        <provider
            android:name=".Data.ProductList.ProductProvider"
            android:authorities="com.example.tanmay.shoppingapp.Data.ProductList.ProductProvider"
            android:exported="false" />

        <activity android:name=".SignUp" />
        <activity android:name=".UserAccount"></activity>
    </application>

</manifest>